
html {
  scroll-behavior: smooth;
}

/* header css */

.paddingheader
{
  font-size: 17px !important;
  z-index: 9999;
}
@media only screen and (max-width:700px) {

  .paddingheader
  {
    padding: 0px;
    font-size: 10px !important;
    z-index: 9999;
  }
  
}

/* BG-slider css */


  /* slider cards css */

.slider {
    width: 15%;
    height: auto;
    
  }
  
  .slider .name {
    font-size: 20px;
  }
  
  .slider .para {
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .slider .brand {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  @media only screen and (max-width:600px) {
    
    .offer-heading
    {
      font-size: 16px !important;
    }
    .viewall
    {
      padding: 10px !important;
    }
   
  }
  
  @media only screen and (max-width: 1200px) {
    /* Tablets [601px -> 1200px] */
    .slider {
      width: 30%;
      height: auto;
    }
    .slider .name {
      font-size: 20px;
    }
    .slider .para {
      font-size: 13px;
    }
    .slider .brand {
      font-size: 14px;
    }
  }
  
  @media only screen and (max-width: 600px) {
    /* Big smartphones [426px -> 600px] */
    .slider {
      width: 45%;
      height: auto;
    }
    .slider .name {
      font-size: 15px;
    }
    .slider .para {
      font-size: 13px;
    }
    .slider .brand {
      font-size: 11px;
    }
  }
  
  @media only screen and (max-width: 425px) {
    /* Small smartphones [320px -> 425px] */
    .slider {
      width: 40%;
      height: auto;
    }
    .slider .name {
      font-size: 13px;
    }
    .slider .para {
      font-size: 11px;
      text-align: center !important;
    }
    .slider .brand {
      font-size: 12px;
    }
  }